/* General */

* {
    box-sizing: border-box;
}

html, body {
    background-color: black;
    /*width: auto;*/
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
}

body {
    text-align: center;
    opacity: 0.9;
    margin: 0;
    padding: 0;
}

/* Header */

.header {
    position: fixed;
    width: 100%;
    border-bottom: 1px solid seashell;
    height: 69px;
    padding: 10px;
    background-color: black;
    display: flex;
    z-index: 1;
    justify-content: space-between;
}

header img {
    height: 50px;
    margin-left: 10px;
    float: left;
}

header a {
    margin: 0 10px;
    color: seashell;
    float: right;
}

/* Main */

main {
    padding-top: 75px;
}

/* Mission */



/* Featured Tea */

/* Locations */

/* Contacts */

.contacts {
    height: 200px;
}

/* Footer */

footer {
    text-align: left;
    padding: 20px;
}